<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>
       
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        
        <mat-nav-list>
            <a routerLink="/home" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="/destino" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <span>Gestionar Destino</span>
            </a>
            <a routerLink="/tipo-destino" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <span>Gestionar Tipo Destino</span>
            </a>
            <a routerLink="/auth" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>arrow_right</mat-icon>
                <span>Login</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>



</mat-sidenav-container>
